<div class="modal fade" id="calendar-modal" tabindex="-1" aria-labelledby="calendar-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="address-label">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="control-section">
                    <div id="control_wrapper">
                        <ejs-datetimepicker></ejs-datetimepicker>
                        <!-- <ejs-datetimepicker [(value)]="selectedDate"></ejs-datetimepicker> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>