<div class="background">
    <img src="../assets/images/yellow.png" class="yellow-img p-0" alt="..." />
    <img src="../assets/images/header.png" class="header-img p-0" alt="..." /> 
</div>
<div class="container">
    <app-home-navigation></app-home-navigation>
    <h1 class="first animate__animated animate__fadeInLeft animate__fast">Let's share</h1>
    <h1 class="second animate__animated animate__fadeInLeft animate__delay-1s animate__fast">&nbsp; &nbsp; &nbsp; the Ride.</h1>
    <p class="header-text mt-5 animate__animated animate__fadeIn animate__delay-1s animate__fast">Due to the high prices in gas, and due to transferring education from online to on campus. We as students will help each other to reach out for our college to reach out for a better future.</p>
    <div class="row pros">
        <div class="col-4">
            <div class="d-flex justify-content-center"><img src="../assets/images/car.svg" alt=""></div>
            <h3>Get a ride</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus, cupiditate.</p>
        </div>
        <div class="col-4">
            <div class="d-flex justify-content-center"><img src="../assets/images/shield.svg" alt=""></div>
            <h3>Safe and convenient</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, ipsum?</p>
        </div>
        <div class="col-4">
            <div class="d-flex justify-content-center"><img src="../assets/images/tap.svg" alt=""></div>
            <h3>Easy to use</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit, neque.</p>
        </div>
    </div>
</div>
<div class="phone1">
    <img src="../assets/images/light-yellow.svg" class="light-yellow-img p-0" alt="..." />
    <div class="container">
        <div class="row">
            <div class="col-7 text">
                <h2 >Request a ride...</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam natus quae voluptas tempore sed, odio dolorem vitae quam placeat vel, itaque ea impedit voluptate sequi repellendus earum dolore delectus nostrumficdi </p>    
            </div>
            <div class="col-5 image">
                    <img src="../assets/images/phone1.svg" alt="">
            </div>
        </div>
    </div>
</div>
<div class="phone2">
    <div class="container">
        <div class="row">
            <div class="col-6 image">
                    <img src="../assets/images/phone2.svg" alt="">
            </div>
            <div class="col-6 text">
                <h2 >...or offer one!</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam natus quae voluptas tempore sed, odio dolorem vitae quam placeat vel, itaque ea impedit voluptate sequi repellendus earum dolore delectus nostrumficdi </p>    
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>